body {
    padding-top: 75px;
}

.btnSignUp {
	max-width: 500px;
	width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.teaser {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}
.btnSignIn {
	margin-left: 5px;
}
.inputPasswd {
	margin-left: 1px;
}
.center {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.width500 {
	max-width: 500px;
	width: 100%;
}
.btnRight {
	float: right;
}
.textareHobby {
	min-height: 150px;
}
.profileStarDescription {
	font-weight: bold;
	margin-top: 50px;
}
/*matcher thumbs*/
.matcherThumbs {
	width: 100%;
	text-align: center;
}
.matcherThumbUp {
	width: 50%;
	float: left;
	color: green;
}
.matcherThumbDown {
	width: 50%;
	float: right;
	color: red;
}
.matcherThumbUp svg,  .matcherThumbDown svg{
	cursor: pointer;
}
.isOnline {
	color: green;
}
.isOffline {
	color: red;
}
.message {
	margin-top: 15px;
}
.messageRight {
	text-align: right;
}
.messageText {
	padding: 5px 10px;
	background-color: lightblue;
	border-radius: 5px;	
}
.messageRight .messageText {
	background-color: lightgreen;
}
.chatMessages {
	height: calc(100% - 90px);
    overflow-y: scroll;
}
.chat {
    background: lightyellow;
    padding: 10px;
    border-radius: 10px;
    max-width: 800px;
}
.chatSubmitContainer {
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    top: 20px;
    padding: 0px 10px;
}
.chatSubmitContainer .btn {
    float: right;
    position: relative;
    top: 7px;
}
.chatSubmitContainer .form-control {
	max-width: calc(100% - 140px);
    float: left;
    top: 7px;
    position: relative;
}